{
  "env": {
    "test": {
      "presets": [
        ["env", {"modules": false, "forceAllTransforms": true}],
        "flow",
        "react",
        "stage-0"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "presets": [
        ["env", {"modules": false}],
        "stage-0",
        "react"
      ],
      "plugins": ["external-helpers"]
    }
  }
}