{
  "presets": [
    "flow"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-2",
        "flow"
      ]
    },
    "prod": {
      "presets": [
        ["es2015", {"modules": false}],
        "stage-2",
        "react"
      ],
      "plugins": ["external-helpers"]
    }
  }
}